.loginForm{    
    width: 100%;
    text-align: center;
    border: solid;
    border-color: yellow;
    background-color: gray;
    padding-bottom: 15px;
    margin: 15px 35% 15px 35%;
    border-radius: 5px;
}

.usernameContainer, .passwordContainer, .actionsContainer{
    padding-bottom: 5px;
}

.actionsContainer{
    display: flex;
    justify-content: space-evenly;
}

button{
    border-radius: 8px;
    width: fit-content;
    padding: 5px;
}

input{
    padding: 5px;
    border-radius: 8px;
}

label{
    padding: 5px;
    padding-bottom: 20px;
}

form{
    padding: 15px;
}

.alert{
    color: red;
}
