{% extends "base.html" %}
{% block head %}
  <script src="../static/js/app.js"></script>
{% endblock %}
{% block title %}Playlister{% endblock %}
{% block content %}
    <p class="important" id="welcome">
      Welcome to the app page!.
    </p>
    <div class="send-yt-request">
      <form autocomplete="off" id="sendURL" action="">
        <h3>URL form</h3>
        <div class="form-yt-url">
          <label for="yt-url">Youtube URL: </label>
          <input type="text" name="yt-link" id="yt-url" required>
        </div>
        <div class="form-send">
          <button form="sendURL" name="send" id="send-button">Send</button>
        </div>
      </form>
    </div>
{% endblock %}