textarea{
    resize: none;
    width: 300px;
    height: 150px;
}

.cards{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    flex-wrap: wrap;
    color: black;
    padding: 20px;
    margin: 5px;
    width: 250px;
    border: 1px solid gray;
}

.processed-card{
    background-color: green;
}

.unprocessed-card{
    background-color: red;
}

.inprocess-card{
    background-color: yellow;
}